SECRET_KEY              #SECRET_KEY for django project

DEBUG                   #DEBUG mode on/off (True/False)

BASE_NAME               #POSTGRES BASE NAME
BASE_USER               #POSTRGES USER NAME
BASE_PASSWORD           #POSTRGES USER PASSWORD NAME
BASE_HOST               #POSTGRES BASE HOST
BASE_PORT               #POSTGRES BASE PORT

EMAIL_HOST              #email smtp server
EMAIL_PORT              #port for email smtp server
EMAIL_USE_TLS           #if smtp use TLS (True - False)
EMAIL_USE_SSL           #if smtp use SSL (True - False)
EMAIL                   #e-mail for feedback with users
EMAIL_PSWD              #password for e-mail for feedback

STRIPE_PUBLISHABLE_KEY  #STRIPE PUBLISHABLE KEY
STRIPE_SECRET_KEY       #STRIPE SECRET KEY
STRIPE_WEBHOOK_SECRET   #STRIPE WEBHOOK SECRET